doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    main.container
      h1= title

      a.button(href="/update-cobj") Add to this table

      if error
        p.error= error

      if records && records.length
        table
          thead
            tr
              th Name
              th Author
              th Genre
          tbody
            each record in records
              tr
                td= record.properties.name || ''
                td= record.properties.author || ''
                td= record.properties.genre || ''
      else
        p No records found.